*{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    font-size: 15px;

}
html {
    margin: 0;
    padding: 0;
    background-color: #25283B;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
}
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}
.banner .content .title {
    
    font-size: 11vh;
}
.banner::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url(bg.png);
    background-size: contain; /* Ubah dari cover menjadi contain */
    background-position: center;
    background-repeat: no-repeat; /* Tambahkan ini untuk mencegah pengulangan */
    z-index: -1;

    mask-image: url(ink_lv2.gif);
    mask-size: cover;
    mask-position: center;
}
.layar-dalam {
    max-width: 1300px; /* Ganti width dengan max-width */
    width: 100%; /* Pastikan elemen ini tidak melebihi lebar viewport */
    margin: auto;
}
.layar-penuh{
    width: 100%;
}
nav {
    z-index: 100;
    color: #fff;
    text-align: center;
    position: fixed;
    border-bottom: 1px solid #b1b1b1;
    line-height: 60px;
    width: 100%;
    transition: background-color 0.5s ease;
}
nav.white{
    background-color: #25283B;
}
nav .logo{
    float: left;
    position: relative;
    line-height: 50px;
    text-align: center;
}
nav .logo img{
    width: 60px;
    vertical-align: middle;
}
nav .menu{
    float: right;
    height: 60px;
    max-width: 600px;
}
nav .menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav .menu ul li{
    list-style-type: none;
    float: left;
    line-height: 60px;
}
nav ul li a {
    color: white;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration: underline;
}

/* Header */
header{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 2;
}
header video{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%; /* Pastikan video memenuhi lebar header */
    height: auto; /* Atur tinggi secara otomatis untuk menjaga rasio aspek */
    object-fit: cover; /* Menjaga proporsi video */
    transform: translate(-50%, -50%); /* Geser video ke tengah */
    z-index: -2;
}

header .intro{
    z-index: 100;
    color: #fff;
    text-align: center;
    position: relative;
    top: 50%;
}
header .intro h3{
    font-size: 50px;
    margin: 0;
    padding: 0;
}
.tombol{
    height: 40px;
    background-color: blue;
    line-height: 42px;
    color: #fff;
    text-decoration: none;
    padding: 0px 20px 0px 20px;
    font-size: 18px;
    border-radius: 4px;
}
header .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background-color: black;
    opacity: 50%; */
    z-index: -1;
}

.tombol-menu{
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.tombol-menu .garis{
    height: 3px;
    background-color: #fff;
}
section{
    padding: 50px 0px 50px 0px;
}
section h3{
    font-size: 30px;
}
section h3::after{
    content: "";
    border-bottom: 5px solid black;
    width: 52px;
    display: block;
    margin: 20px auto;
}
#aboutus {
    text-align: center;
    color: #fff;
}
section p.tentang{
    font-style: italic;
    font-size: 18px;
}
nav.putih{
    background-color: #fff;
}
nav.putih .tombol-menu .garis{
    background-color: #333;
}
nav .logo img.hitam{
    display: none;
}
nav.putih ul li a{
    color: #333;
}
section#galeri{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
}
section#galeri div{
    padding: 10px;
}
section#galeri div img{
    height: 100px;
    border-radius: 5px;
}
section#galeri div img:hover{
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}
section.testi{
    background:url("asset/gambar dan video/potatohead-beach-club.webp");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-style: italic;
    padding: 100px;
}

section.testi .layar-dalam{
    display: inline;
    /* background:url("asset/gambar dan video/quote-icon.png") no-repeat ; */
    padding: 40px;
    
}
footer{
    padding: 50px 0px 50px 0px;
    background-color: grey;
    color: #fff;
}
.instagram-logo {
    width: 20px; /* Atur lebar gambar sesuai keinginan */
    height: auto; /* Tinggi akan disesuaikan otomatis untuk menjaga rasio aspek */
}
footer .layar-dalam{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer .layar-dalam div{
    width: 20%;
}
footer .layar-dalam h5{
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
}
footer .layar-dalam .copyright{
    width: 100%;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid white;
    text-align: center;
}

main {
    width: min(1200px, 90vw);
    margin: auto;
}
.slider {
    margin-top: 10vh;
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
}

.slider .list {
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}

.slider .list .item {
    width: 200px; /* Atur lebar yang sama untuk semua item */
    height: 200px; /* Atur tinggi yang sama untuk semua item */
    position: absolute;
    left: 100%;
    animation: autoRun 10s linear infinite;
    animation-delay: calc((10s / var(--quantity)) * (var(--position) - 1) - 10s)!important;
}

.slider .list .item img {
    width: 100%;
    height: 100%; /* Pastikan gambar mengisi seluruh area item */
    object-fit: cover; /* Gambar akan mengisi area tanpa distorsi */
}

@keyframes autoRun {
    from {
        left: 100%;
    }
    to {
        left: calc(var(--width) * -1);
    }
}

.slider:hover .item {
    animation-play-state: paused!important;
    filter: grayscale(1);
}

.slider .item:hover {
    filter: grayscale(0);
}

.slider[reverse="true"] .item {
    animation: reversePlay 10s linear infinite;
}


@keyframes reversePlay {
    from {
        left: calc(var(--width) * -1);
    }
    to {
        left: 100%;
    }
}
 

   @media (max-width: 768px) {
    header {
        height: auto; /* Tetap menggunakan auto */
        padding: 15px 0;
        height: 70vh; /* Atur tinggi header untuk perangkat kecil jika perlu */
        font-size: 40px;
    }
    header video {
        height: 100%; /* Pastikan video tetap memenuhi tinggi header */
    }
}

@media (max-width: 480px) {
    .banner .content .title {
    
        font-size: 6vh;
    }
    header {
        height: auto; /* Tetap menggunakan auto */
        padding: 10px 0;
        font-size: 30px;
    }
    header video {
        height: 100%; /* Pastikan video tetap memenuhi tinggi header */
    }
}

@media screen and (max-width: 991.98px) {
    header {
        height: auto; /* Tetap menggunakan auto */
        padding: 15px 0;
        height: 70vh; /* Atur tinggi header untuk perangkat kecil jika perlu */
        font-size: 40px;
    }
    nav .menu ul{
        display: none;
        margin-top: 60px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    nav .menu ul li{
        width: 100%;
        border-bottom: 1px solid #ccc;
        background-color: white;
        line-height: 40px;
    }
    nav .menu ul li a{
        color: #333
    }
    .tombol-menu{
        display: flex;
    }
    
}
